{{import Form from "ui/form"}}
{{import ColorPicker from "color-picker"}}
{{import Button from "ui/form/button"}}

<div id="calendar-container"></div>

{{#if this.showBegin}}
  <div class="text-xl p-2">Add your first plant</div>
{{/if}}
{{#if (not this.showForm)}}
  <Button @click={{this.toggle}}>Add a plant</Button>
{{/if}}

{{#if this.showForm}}
  <Form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" onSubmit={{this.addToChart}} as |Form|>
    <Form.label>
      Name
    </Form.label>
    <Form.input placeholder="Name" type="text" @value={{mut this.name}}/>

    <Form.label>
      Days to Maturity
    </Form.label>
    <Form.input placeholder="56" type="number" @value={{mut this.daysToMaturity}}/>

    <Form.label>
      Plant date
    </Form.label>
    <Form.input placeholder={{this.today}} type="date" @value={{mut this.startDate}}/>

    <Form.label>
      Color
    </Form.label>

    <ColorPicker @theme="nano" @default="#A6D785" @value={{mut this.color}} />

    <Form.submit type="submit">Save</Form.submit>
  </Form>
{{/if}}

