{{import Calendar from "ui/calendar"}}
{{import AddPlantForm from "ui/add-plant-form"}}

<h1>slug: {{this.model.slug}}</h1>

{{#if this.model.data}}
  <Calendar @data={{this.model.data}} />
{{/if}}

{{#if this.showBegin}}
  <div class="text-xl p-2">Add your first plant</div>
{{/if}}
{{#if (not this.showForm)}}
  <Button @click={{this.toggle}}>Add a plant</Button>
{{/if}}

{{#if this.showForm}}
  <AddPlantForm @data={{this.model.data}} />
{{/if}}

{{this.model.data}}