{{import Calendar from "ui/calendar"}}
{{import AddPlantForm from "./add-plant-form"}}
{{import Button from "ui/form/button"}}

<h1>Garden: {{this.model.name}}</h1>
<strong>Zone:</strong> {{this.model.zone}}<br><br>

{{#if this.showCalendar}}
  <Calendar @data={{this.model.plants}} />
{{/if}}

{{#if this.showBegin}}
  <div class="text-xl p-2">Add your first plant</div>
{{/if}}
{{#if (not this.showForm)}}
  <Button @click={{this.toggle}}>Add a plant</Button>
{{/if}}

{{#if this.showForm}}
  <AddPlantForm @garden={{this.model.id}} />
{{/if}}